# Format Crew Data

## Load Crew data into a df

In [173]:
import pandas as pd

path = "/Users/hastigheibidehnashi/DBMS/IMDb/raw_data/"
file = "title.crew.tsv.gz"
crew_df = pd.read_csv(path+file, sep="\t", na_values="\\N", nrows = 30)

## Split directors and writers into their own df

In [174]:
d_df = pd.concat([crew_df['tconst'], crew_df['directors']], axis=1)
d_df = d_df.dropna(axis=0, how='any') # drop rows with missing values
w_df = pd.concat([crew_df['tconst'], crew_df['writers']], axis=1)
w_df = w_df.dropna(axis=0, how='any') # drop rows with missing values

## Separate multiple directors and writers into their individual cols

In [175]:
dir_df = d_df['directors'].str.split(',', expand=True)
writ_df = w_df['writers'].str.split(',', expand=True)

## Insert tconst col back in

In [176]:
dir_df['tconst'] = d_df['tconst']
writ_df['tconst'] = w_df['tconst']

## Add a new col, 'role', representing the role of each crew member

In [177]:
dir_df['role'] = "director"
writ_df['role'] = 'writer'

## Create df's containing a new row for each crew member, their role, and the tconst

In [178]:
dfs = [] # create a list of final dfs to be merged

dir_cols = list(dir_df) # create a list of dir_df cols
writ_cols = list(writ_df) # create a list of writ_df cols

# iterate through each director df extracting nconst, tconst, and role for each director
for i in range(len(dir_cols)-2):
    df = dir_df[['tconst','role',i]]
    df = df.rename(columns={i: 'nconst'})  # rename the nconst col
    df = df.dropna(axis=0, how='any')  # drop rows with missing values
    dfs.append(df) # add to list of dfs to be merged at the end

# repeat for writers
for i in range(len(writ_cols)-2):
    df = writ_df[['tconst', 'role', i]]
    df = df.rename(columns={0: 'nconst'})
    df = df.dropna(axis=0, how='any') 
    dfs.append(df)

## Concatenate all crew member data into one final table

In [179]:
crewMember_df = pd.concat(dfs, ignore_index=True,  sort=False)
crewMember_df['crewMemberId'] = crewMember_df.index+1  # add index to serve as the primary key for the new table

## Rearrange cols to match relational schema

In [180]:
crewMember_df = crewMember_df[['crewMemberId', 'tconst', 'nconst', 'role']]
display(crewMember_df)

    crewMemberId     tconst     nconst      role
0              1  tt0000001  nm0005690  director
1              2  tt0000002  nm0721526  director
2              3  tt0000003  nm0721526  director
3              4  tt0000004  nm0721526  director
4              5  tt0000005  nm0005690  director
5              6  tt0000006  nm0005690  director
6              7  tt0000007  nm0005690  director
7              8  tt0000008  nm0005690  director
8              9  tt0000009  nm0085156  director
9             10  tt0000010  nm0525910  director
10            11  tt0000011  nm0804434  director
11            12  tt0000012  nm0525910  director
12            13  tt0000013  nm0525910  director
13            14  tt0000014  nm0525910  director
14            15  tt0000015  nm0721526  director
15            16  tt0000016  nm0525910  director
16            17  tt0000017  nm0804434  director
17            18  tt0000018  nm0804434  director
18            19  tt0000019  nm0932055  director
19            20  tt0000020  nm0010291  director
20            21  tt0000022  nm0525910  director
21            22  tt0000023  nm0525910  director
22            23  tt0000024  nm0010291  director
23            24  tt0000025  nm0010291  director
24            25  tt0000026  nm0525910  director
25            26  tt0000027  nm0525910  director
26            27  tt0000028  nm0525910  director
27            28  tt0000029  nm0525910  director
28            29  tt0000030  nm0010291  director
29            30  tt0000031  nm0525910  director
30            31  tt0000007  nm0374658  director
31            32  tt0000012  nm0525908  director
32            33  tt0000014  nm0349785  director
33            34  tt0000017  nm1587194  director
34            35  tt0000030  nm0666972  director
35            36  tt0000009  nm0085156    writer

## Export df to .tsv file

In [181]:
path = "/Users/hastigheibidehnashi/DBMS/IMDb/IMDb_Database/data/"
file = "crew_member.tsv"
crewMember_df.to_csv(path+file, sep="\t")

In [169]:
# # find every director and create a new row for them
# df1 = dir_df[['tconst','role',0]]
# df1 = df1.rename(columns={0: 'nconst'})  # rename the nconst col
# df1 = df1.dropna(axis=0, how='any')  # drop rows with missing values

# df2 = dir_df[['tconst','role',1]]
# df2 = df2.rename(columns={1: 'nconst'})
# df2 = df2.dropna(axis=0, how='any')

# # find every writer and create a new row for them
# df3 = writ_df[['tconst', 'role', 0]]
# df3 = df3.rename(columns={0: 'nconst'})  # rename the nconst col
# df3 = df3.dropna(axis=0, how='any') # drop rows with missing values

# # df4 = writ_df[['tconst','role',1]]
# # df4 = df4.rename(columns={1: 'nconst'})
# # df4 = df4.dropna(axis=0, how='any')
 
# display(df1, df2, df3) #df4

In [170]:
# crewMember_df = pd.concat([df1, df2, df3], ignore_index=True,  sort=False)
# crewMember_df['crewMemberId'] = crewMember_df.index+1  # add an index to serve as the primary key for the new table
# display(crewMember_df)

In [ ]:
# crewMembers_df
# index    tconst    nconst     role
# 0.        1234.    5678.      director
# 1.        4321.   9876.       writer

In [164]:
# dir_df = pd.concat([pd.Series(row['tconst'], row['directors'].split(',')) for _, row in crew_df.iterrows()])
# writ_df = pd.concat([pd.Series(row['tconst'], row['writers'].split(',')) for _, row in crew_df.iterrows()])
# df = df.rename(columns={"index": "directors", 0: "tconst"})
# print(dir_df)
# print(writ_df)

In [75]:
# # seperate the nconst values in 'directors' and 'writers' col
# crew_df['directors'] = crew_df['directors'].str.split(',')
# crew_df['writers'] = crew_df['writers'].str.split(',')
# print(crew_df)


# print(dir_df)
# print(writ_df)
#d.index = d.index.droplevel(-1) # to line up with df's index
#d.name = 'directors_new' # needs a name to join
#crewMember_df = crew_df.join(d)
#print(crewMember_df)

In [76]:
# crewMember_df = pd.concat([dir_df, writ_df], axis=1)
# print(crewMember_df)

In [61]:
# seperate the nconst values in 'writers' col into their own row
# w = crew_df['writers'].str.split(',').apply(pd.Series, 1).stack()
# w.index = d.index.droplevel(-1) # to line up with df's index
# w.name = 'writers_new' # needs a name to join
# crewMember_df.join(w)
# print(crewMember_df)

In [16]:
# create a crewMembers df
# for each nconst value in directors column and writers column create a new entry in the crewMembers df including tconst
# include a new column called role, and add 'director' or 'writer' accordingly