# Format Episode Data

## Load Episode data into df

In [1]:
import pandas

path = "/Users/hastigheibidehnashi/DBMS/IMDb/raw_data/"
file = "title.episode.tsv.gz"
episode_df = pandas.read_csv(path+file, sep="\t", na_values="\\N", nrows = 20)

## Convert seasonNumber and episodeNumber fields to int

In [3]:
# convert seasonNumber and episodeNumber to int
episode_df["seasonNumber"] = episode_df["seasonNumber"].astype('Int64')
episode_df["episodeNumber"] = episode_df["episodeNumber"].astype('Int64')
display(episode_df)

       tconst parentTconst  seasonNumber  episodeNumber
0   tt0041951    tt0041038             1              9
1   tt0042816    tt0989125             1             17
2   tt0042889    tt0989125          <NA>           <NA>
3   tt0043426    tt0040051             3             42
4   tt0043631    tt0989125             2             16
5   tt0043693    tt0989125             2              8
6   tt0043710    tt0989125             3              3
7   tt0044093    tt0959862             1              6
8   tt0044668    tt0044243             2             16
9   tt0044901    tt0989125             3             46
10  tt0045519    tt0989125             4             11
11  tt0045960    tt0044284             2              3
12  tt0046135    tt0989125             4              5
13  tt0046150    tt0341798          <NA>           <NA>
14  tt0046855    tt0046643             1              4
15  tt0046864    tt0989125             5             20
16  tt0047810    tt0914702             3             36
17  tt0047852    tt0047745             1             15
18  tt0047858    tt0046637             2              9
19  tt0047961    tt0989125             6              5

## Export df to .tsv file

In [5]:
# save formatted data as new tsv file
path = "/Users/hastigheibidehnashi/DBMS/IMDb/IMDb_Database/data/"
file = "episode.tsv"
episode_df.to_csv(path+file, sep="\t")